/* fuentes de la tabla de ficheros cargados */
#selectedDataFileContent, #uploadedFilesTable, #availableFilesTable {
    font-size:  x-small;
}

/* panel del ziggurat */
#ziggurat {
    position:   relative;
    vertical-align: top;
    /* height:     400px; */
    height: 80%;
    width: 90%;
    cursor:     pointer;
    margin-top: 0px;
}

/* panel del bipartite plot */
#bipartiteplot {
    position:   relative;
    vertical-align: top;
    width: 100%;
    margin: 0 auto;
    cursor:     pointer;
    margin-top: 0px;
}

/* paneles de informacion del ziggurat */
#zigguratNodesDetail, #zigguratWikiDetail {
    padding:    0px 0px 5px 10px;
}

#zigguratNodesDetail {
    margin-top: 0px;
    position:   relative;
    /* height:     180px; */
    height: 40%
}

#zigguratWikiDetail ul.nav-pills a {
    font-size:  x-small;
    padding:    5px 5px 5px 5px;
    display:    none;
}

.wikiDetail {
    margin-top: 10px;
    position:   relative;
    /* height:     180px; */
    height: 20%;
    display:    none;
}

/* panel de botones del zoom */
#zoomPanel {
    float: right;
}

/* imagenes de zoom */
#zoomin, #zoomout, #zoomfit, #zoomreset, #zoominbip, #zoomoutbip {
    /* cursor: move; */
    width:  16px;
    height: 16px;
}

/* Button style */
.butt1, .butt1:active , .butt1:visited, .butt1:hover {background-color:rgba(0,0,0,0);
    color: black;
    font-size: 12px;
    border-color: rgba(0,0,0,0);
    -webkit-box-shadow: 2px;
    box-shadow: 0px;}

.errorMsg {
    font-size:  16px;
    color: red;
}

/* cabeceras de grupo */
.groupHeader {
    padding:        2px;
    margin:         2px;
    border-bottom:  1px dotted lightgray;
}

.groupHeaderIcon {
  vertical-align:   middle;
  display:          table-cell;
}

.groupHeaderText {
  vertical-align:   middle;
  display:          table-cell;
  padding-left:     16px;
}

/* etiqueta de los controles */
.controlLabel {
    display:        inline-block;
    vertical-align: middle;
    font-weight:    normal;
    font-size:      90%;
}

/* etiqueta de los enlaces */
.linkLabel {
    display:        inline-block;
    vertical-align: middle;
    font-weight:    normal;
    font-size:      90%;
}

.linkLabel img {
    width:          24px;
    height:         24px;
    margin-right:   8px;
}

/* contenido de los paneles */
.panelContent {
    font-size:  small;
    padding:    3px;
    border:     0px;
}

/* panel de informacion */
.aboutInfo {
    padding:    8px;
    font-size:  small;
    color:      gray;
}

.aboutAuthor {
    padding:    8px;
    font-size:  small;
    color:      gray;
}

.aboutVersion {
    padding:    8px;
    font-size:  small;
    color:      gray;
}

/* pie de pagina */
.footerPanel {
    padding:    10px;
    margin:     0px;
    font-size:  x-small;
}

.footerPanelContent {
    padding:    0px;
    clear:      both;
}

.footerPanelContentLeft {
    float:      left;
}

.footerPanelContentRight {
    float:      right;
}

/* tooltips */
.rbtooltiphelp {
    font-size:  x-small;
}

.rbtooltipinfo {
    font-size:  x-small;
    background-color: rgba(192, 192, 192, 0.25);
}

.rbtooltiptableinfo1 {
    width: 100%;
}

.rbtooltiptableinfo1 th {
    font-weight:bold;
    width:      50px;
    padding:    0px;
}

.rbtooltiptableinfo1 td {
    padding:    0px;
}

.rbtooltiptableinfo2 {
    width: 100%;
}

.rbtooltiptableinfo2 th {
    font-weight:    bold;
    border-bottom:  1px solid lightgray;
    padding:        0px;
}

.rbtooltiptableinfo2 td {
    padding: 0px;
}

.containerslider {
    display: flex; /* Enables flexbox for layout */
    gap: 10px;      /* Adds some space between the columns */
    padding: 5px;   /* Adds padding around the container */
    text-align: left;
    justify-content: flex-start,
}

.columnslider {
    flex: 1;       /* Makes each column take up equal space */
    padding: 5p;  /* Adds padding within each column */
}

.sliderGuildTitle { 
    font-size:11px;
    font-weight: bold;
  }
  
.sliderGuildNamesList { 
    font-size: 9px;
    font-weight: normal;
    line-height: 0em;
    padding:0px;
    margin:0px;
    line-height: 50%;
    text-align: left;
  }
  