html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  font-size: 16px/1;
  font-family: Helvetica, sans-serif;
}
h1,
h2,
h3,
h4,
p,
blockquote,
figure,
ol,
ul {
  margin: 0;
  padding: 0;
}
main,
li {
  display: block;
}
h1,
h2,
h3,
h4 {
  font-size: inherit;
}
strong {
  font-weight: bold;
}
a,
button {
  color: inherit;
  transition: 0.3s;
}
a {
  text-decoration: none;
}
button {
  overflow: visible;
  border: 0;
  font: inherit;
  -webkit-font-smoothing: inherit;
  letter-spacing: inherit;
  background: none;
  cursor: pointer;
}
::-moz-focus-inner {
  padding: 0;
  border: 0;
}
:focus {
  outline: 0;
}

h4, .h4 {
  font-size: 16px;
  font-weight: bold;
}

.GuildTitle { 
  font-family: Arial, Helvetica, sans-serif;
  font-size:14px;
  font-weight: bold;
}

.GuildNamesList { 
  font-family: Arial, Helvetica, sans-serif;
  font-size: 9px;
  font-weight: normal;
  line-height: 1em;
  padding:0px;
  margin:0px;
}

.Citation { 
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  font-weight: bold;
  font-color: black;
}

a:link, a:visited {
    color: red;
    font-size: 10px;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover, a:active {
    background-color: gray;
}