body {
  margin: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
          
.GuildTitle { 
  font-family: Arial, Helvetica, sans-serif;
  font-size:14px;
  font-weight: bold;
}

.GuildNamesList { 
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  font-weight: normal;
}

.Citation { 
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  font-weight: bold;
  font-color: black;
}

a:link, a:visited {
    color: red;
    font-size: 10px;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover, a:active {
    background-color: gray;
}